<h2>Login</h2>
<hr>
<form action="/api/sessions/login" method="post">
    <input type="email" name="email" placeholder="Ingrese correo electrónico">
    <input type="password" name="password" placeholder="Ingrese contraseña">
    <input type="submit" value="Ingresar">
</form>

<script src="/js/login.js"></script>